# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (Extremely important part)
.env*
.env.local

# restoration & data files
scripts/restoration_data.json
scripts/wisdom_data.json
wisdom_export.json
wisdom_restoration.sql
wisdom (1).json
*.sql
*.json
!package.json
!package-lock.json
!jsconfig.json
!next.config.mjs
!postcss.config.mjs
!eslint.config.mjs

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp/logs
/tmp
*.log
